@model RetailKing.Models.Project
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Ticket</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-8 ">
                        @using (Html.BeginForm("CreateTicket", "Project", FormMethod.Post, new { id = "createAsset" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            <fieldset>
 
                                @Html.Partial("_CreateOrEdit", Model)

                            </fieldset>
                        }
                        <br />
                        <div>
                            <button class="btn btn-success" onclick="SaveView('createAsset')">Save</button>
                            <button class="btn btn-warning" onclick="GetView('@Url.Action("Tickets", "Project")')">Cancel</button>
                        </div>
                    </div>
                    <div id="Facilitylist" class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/Administration/js/datepicker/daterangepicker.js")"></script>
<script src="@Url.Content("~/Content/Administration/js/moment/moment.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $('#Date').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            dateFormat: "d MM yy"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#AquisitionDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            dateFormat: "d MM yy"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#DisposalDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            dateFormat: "d MM yy"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

        $('#DateCreated').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            dateFormat: "d MM yy"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

        $('#ExpireryDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            dateFormat: "d MM yy"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

    })
</script>