@model RetailKing.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<div id="product-single">
    <br />
    <section class="main-content col-lg-13 col-md-12 col-sm-12">
        <div  class="row " style="height: 100%">
            <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>




            @using (Html.BeginForm("PopLogin", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @name = "loginAccountr", id = "loginAccountr" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="carousel-heading no-margin">
                        <h4>Account Verification</h4>
                    </div>

                    <div class="page-content">
                        <p>For security reasons we need you to enter you account login credentials </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="iconic-input">
                                    @Html.TextBoxFor(m => m.User, new { placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(model => model.User)
                                    <i class="icons icon-user-3"></i>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="iconic-input">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                    <i class="icons icon-lock"></i>
                                </div>
                            </div>
                        </div>
                        <br />
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 align-left">
                                <a class="button orange" onclick="SaveView('loginAccountr')"> Verify</a>
                            </div>

                        </div>
                    </div>

                </div>
             
        }



        </div>

    </section>
</div>
