@{
    ViewBag.Title = "newStock";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Transfer Item </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <p>You are about to transfer </p>
                    <div id="stockdetail">
                        <span class="display-label"> @ViewData["Qty"] @ViewData["ItemName"] click yes to continue. </span>
                        
                    </div>
                    <p></p>
                    <div>
                       
                        <div id="Error" class="alert alert-danger  alert-dismissible fade in" style="display:none"role="alert">
                        </div>
                        <div>
                            <button class="btn btn-success" onclick="AddToTransfer('@ViewData["ItemName"]','@ViewData["Qty"]')">Yes</button>
                            <button class="btn btn-warning" onclick="CloseCancelItem('@ViewData["ItemName"]')">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (event) {
        //document.getElementById("Amount").focus();
        
        //$('#Amount').keyup(function (event) {
        //    $('#Error').hide();
        //});
    });
</script>
