@model IEnumerable<RetailKing.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            name
        </th>
        <th>
            status
        </th>
        <th>
            location
        </th>
        <th>
            Address1
        </th>
        <th>
            Address2
        </th>
        <th>
            Contact1
        </th>
        <th>
            Contact2
        </th>
        <th>
            dated
        </th>
        <th>
            Footer1
        </th>
        <th>
            Footer2
        </th>
        <th>
            Footer3
        </th>
        <th>
            footer4
        </th>
        <th>
            Logo
        </th>
        <th>
            VatNo
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.name
        </td>
        <td>
			@item.status
        </td>
        <td>
			@item.location
        </td>
        <td>
			@item.Address1
        </td>
        <td>
			@item.Address2
        </td>
        <td>
			@item.Contact1
        </td>
        <td>
			@item.Contact2
        </td>
        <td>
			@String.Format("{0:g}", item.dated)
        </td>
        <td>
			@item.Footer1
        </td>
        <td>
			@item.Footer2
        </td>
        <td>
			@item.Footer3
        </td>
        <td>
			@item.footer4
        </td>
        <td>
			@item.Logo
        </td>
        <td>
			@item.VatNo
        </td>
    </tr>
}

</table>


