@model RetailKing.Models.PosPrinter

@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var status = $('#ajaxStatuss');
        var percent = $('.percent');
        var bar = $('.bar');
        var options = {
            beforeSend: function () {
                status.fadeIn();
                $.fancybox.showLoading();
                percent.html('0%');
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var pVel = percentComplete + '%';
                if (percentComplete == 100) {
                    pVel = "Processing file on server might take a few minuites"
                }
                percent.html(pVel);

            },
            success: function (result) {
                $.fancybox.hideLoading();

                $("#panel").html(result);

            },

            error: function (xhr, textStatus, errorThrown) {
                $('#fileresp').html(errorThrown);
                $('#fileresp').show();
                status.fadeOut(800);
            }

        };
        $("#Profilep").ajaxForm(options);

    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Item</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <h2>Create Printer</h2>
                    @using (Html.BeginForm("CreatePrinter", "Pos", FormMethod.Post, new { enctype = "multipart/form-data", @name = "ProfileP", id = "Profilep" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend></legend>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="editor-label">
                                @Html.Label("Company")
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(m => m.Location, new SelectList((IEnumerable<SelectListItem>)ViewBag.Location, "Value", " Text", Model.Location), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Location)
                            </div>

                            <div class="editor-label">
                                @Html.Label("Printer Type")
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.Type, new SelectList(new[] { "Till", "Dispatch" }, Model.Type), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Type)
                            </div>

                            <p></p>
                            <div class="grid_10" style="margin-top:20px">
                                <button class="btn btn-black" type="submit">Save</button>
                                <button class="btn btn-black" type="button" onclick="GetView('@Url.Action("Printers", "Pos")')">Cancel</button>
                            </div>

                        </fieldset>
                    }

                    <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                    <div id="Images"></div>

                </div>
            </div>
        </div>
    </div>
</div>
    
