@model RetailKing.Models.login

@{
    ViewBag.Title = "Edit";
    
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>


        @Html.HiddenFor(model => model.ID)


        @Html.HiddenFor(model => model.accesslevel)
        @Html.HiddenFor(model => model.Account)
        @Html.HiddenFor(model => model.Accounts)
        @Html.HiddenFor(model => model.AccountType)
        @Html.HiddenFor(model => model.AddsProducts)
        @Html.HiddenFor(model => model.Barcoding)
        @Html.HiddenFor(model => model.CashCollection)
        @Html.HiddenFor(model => model.ConnectionId)
        @Html.HiddenFor(model => model.CreditNote)
        @Html.HiddenFor(model => model.DateLastAccess)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.EmailPw)
        @Html.HiddenFor(model => model.Firstname)
        @Html.HiddenFor(model => model.GivesDiscounts)
        @Html.HiddenFor(model => model.InventoryManagement)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.LossAuthorize)
        @Html.HiddenFor(model => model.LossControl)
        @Html.HiddenFor(model => model.ManagePos)
        @Html.HiddenFor(model => model.ManagerMenu)
        @Html.HiddenFor(model => model.ManageStore)
        @Html.HiddenFor(model => model.ManageUsers)
        @Html.HiddenFor(model => model.MCadmin)
        @Html.HiddenFor(model => model.Menus)
        @Html.HiddenFor(model => model.MultiCompanyAccess)
        @Html.HiddenFor(model => model.OnShift)
        @Html.HiddenFor(model => model.Payments)
        @Html.HiddenFor(model => model.PosCustomers)
        @Html.HiddenFor(model => model.PosUser)
        @Html.HiddenFor(model => model.prefix)
        @Html.HiddenFor(model => model.Pricing)
        @Html.HiddenFor(model => model.Purchases)
        @Html.HiddenFor(model => model.Reporting)
        @Html.HiddenFor(model => model.RetailUser)
        @Html.HiddenFor(model => model.Sales)
        @Html.HiddenFor(model => model.Shifts)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.Surname)
        @Html.HiddenFor(model => model.Tables)
        @Html.HiddenFor(model => model.Transfers)
        @Html.HiddenFor(model => model.username)
        @Html.HiddenFor(model => model.UsesBoth)
        @Html.HiddenFor(model => model.UsesDispatch)
        @Html.HiddenFor(model => model.voidsale)
        @Html.HiddenFor(model => model.xreport)
        @Html.HiddenFor(model => model.zreport)


        <div class="col-md-6">
            @*<div class="editor-label">
                    @Html.LabelFor(model => model.username)
                </div>*@
            <div>
                <br />
            </div>

            <div class="editor-label">
                @Html.LabelFor(Model => Model.password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(Model => Model.password, new { @class = "form-control" })

            </div>


            <div class="editor-label">
                @Html.Label("Confirm Password")
            </div>
            <div class="editor-field">
                <input name ="ResetPass"class="form-control" type="text" />
                @*@Html.TextBox("ConfirmPassword", new { @class = "form-control"})*@

            </div>

            @*<div class="editor-field">
                    @Html.ListBox(
                        "Menus",
                        ViewBag.Menus as MultiSelectList,
                         new { @class = "form-control select2_multiple", style = "width:100%;", multiple = "multiple", data_placeholder = "Choose menus...", tabindex = "4", MultiSelectList = "multiple" })
                    @Html.ValidationMessageFor(model => model.Menus)
                </div>*@


        </div>


        <p>

        </p>



    </fieldset>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

