@model RetailKing.Models.Upload
@{
    ViewBag.Title = "File";
}


<script type="text/javascript">
    $(function () {
        var status = $('#ajaxStatuss');
        var percent = $('.percent');
        var bar = $('.bar');
        var options = {
            beforeSend: function () {
                status.fadeIn();
                $.fancybox.showLoading();
                percent.html('0%');
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var pVel = percentComplete + '%';
                if (percentComplete == 100) {
                    pVel = "Processing file on server might take a few minuites"
                }
                percent.html(pVel);

            },
            success: function (result) {
                $.fancybox.hideLoading();

                $("#panel").html(result);

            },

            error: function (xhr, textStatus, errorThrown) {
                $('#fileresp').html(errorThrown);
                $('#fileresp').show();
                status.fadeOut(800);
            }

        };
        $("#createAccount").ajaxForm(options);

    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Voucher Upload </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @Html.ValidationSummary(true)
                    <div class="panel-body">
                        @using (Html.BeginForm("File", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @name = "createAccount", id = "createAccount" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>

                                @if (@ViewData["success"] == "Success")
                                {
                                    <p class="text-success"> File upload was successful @ViewData["cnt"] pins uploaded</p>
                                }
                                else if (ViewData["cnt"] == "duplicates")
                                {
                                    <p class="text-danger"> @ViewData["success"] </p>
                                    <button type="Button" class="btn btn-warning">View Duplicates</button>
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Serial</th>
                                                    <th>Voucher</th>
                                                    <th>Batch</th>
                                                    <th>Denomination</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.duplicates)
                                                {
                                                    <tr>
                                                        <td>@item.SerialNumber</td>
                                                        <td>@item.VoucherKey</td>
                                                        <td>@item.BatchNumber</td>
                                                        <td>@item.Denomination</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else if (ViewData["success"] != "")
                                {
                                    <p class="text-danger"> @ViewData["success"] </p>
                                }

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Supplier)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Supplier, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Supplier)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Product)
                                </div>

                                <div class="editor-field">
                                    @Html.DropDownListFor(m => m.Product,
                         new SelectList(
                        (IEnumerable<SelectListItem>)ViewBag.Usertype,
                             "Value",
                     "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Product)
                                </div>
                                <br />
                                <div class="editor-field">
                                    <div class="btn btn-navy">Select Upload File: <input type="file" name="Image" id="Image" /></div>
                                </div>
                                <p></p>
                                <div class="grid_10" style="margin-top:20px">
                                    <button class="btn btn-success" type="submit">Save</button>
                                    <button class="btn btn-warning" type="button" onclick="GetView('@Url.Action("Index", "Accounts")')">Cancel</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                    <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                    <div id="Images"></div>

                </div>
            </div>
        </div>

    </div>
</div>