@model RetailKing.Models.Item

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Edit Item</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @name = "ProfileP", id = "Profilep" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.sold)
                            @Html.HiddenFor(model => model.Balance)
                            @Html.HiddenFor(model => model.transfer)
                            @Html.HiddenFor(model => model.Returned)
                            @Html.HiddenFor(model => model.Image)
                            @Html.HiddenFor(model => model.PromoImage)
                            @Html.HiddenFor(model => model.ThumbImage)
                            @Html.HiddenFor(model => model.Swaps)
                            @Html.HiddenFor(model => model.NewStock)
                            @Html.HiddenFor(model => model.Expected)
                            @Html.HiddenFor(model => model.Amount)
                            @Html.HiddenFor(model => model.TopSeller)
                            @Html.HiddenFor(model => model.status)
                            @Html.Partial("_CreateOrEdit", Model)
                            <p></p>
                            <div class="grid_10" style="margin-top:20px">
                                <button class="btn btn-success" type="submit">Save</button>
                                <button class="btn btn-warning" type="button" onclick="GetView('@Url.Action("Stocks", "Items")')">Cancel</button>
                            </div>
                        </fieldset>
                    }

                    <div>
                        <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                        <div id="Images"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
