@model IEnumerable<RetailKing.Models.Delivery>

@{
    ViewBag.Title = "CollectionPickingList";
}

<script type="text/javascript">
    $(document).ready(function (event) {
        // $("#DateCreated").datepicker({ dateFormat: "d MM yy" });
        //$("#Date").datepicker({ dateFormat: "d MM yy" });
        setDatePicker('DateCreated');
        setDatePicker('Date');
        $("#SearchInItems").focus();

        $("#category").change(function (event) {
            event.preventDefault();
            $.ajax({
                type: "Get",
                url: '@Url.Action("CollectionPickingList", "Deliveries")',
                dataType: 'html',
                data: {
                    sEnd: $("#Date").val(),
                    sStart: $("#DateCreated").val(),
                    ItemCode: "",
                    iDisplayLength: $("#SizeR").val(),
                    sEcho: 1
                },
                success: function (resp) {
                    $("#panel").html(resp);
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

        $("#SubCategory").change(function (event) {
            event.preventDefault();
            $.ajax({
                type: "Get",
                url: '@Url.Action("CollectionPickingList", "Deliveries")',
                dataType: 'html',
                data: {
                    sEnd: $("#Date").val(),
                    sStart: $("#DateCreated").val(),
                    ItemCode: "",
                    iDisplayLength: $("#SizeR").val(),
                    sEcho: 1
                },
                success: function (resp) {
                    $("#panel").html(resp);
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

        $("#SizeR").change(function (event) {
            event.preventDefault();
            $.ajax({
                type: "Get",
                url: '@Url.Action("CollectionPickingList", "Deliveries")',
                dataType: 'html',
                data: {
                    sEnd: $("#Date").val(),
                    sStart: $("#DateCreated").val(),
                    ItemCode: '',
                    iDisplayLength: $("#SizeR").val(),
                    sEcho: 1
                },
                success: function (resp) {
                    $('#panel').html(resp);
                },
                error: function (data) {
                }
            });
        });

        $("#SearchInItems").keyup(function () {
            // event.preventDefault();
            var s = $('#SearchInItems').val();
            if ($('#SearchInItems').val() == s && $('#SearchInItems').val() != "") {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("CollectionPickingList", "Deliveries")',
                    dataType: 'html',
                    data: {
                        ItemCode: $("#SearchInItems").val(),
                        iDisplayLength: $("#SizeR").val(),
                        sEnd: $("#Date").val(),
                        sStart: $("#DateCreated").val(),
                        sEcho: 1
                    },
                    success: function (resp) {
                        $('#panel').html(resp);
                    },
                    error: function (data) {
                    }
                });
            }
            //   }, 2000);
        });



    });
</script>

<script type="text/javascript">
     function GetPageR(thispage) {
         $.ajax({
             type: "Get",
             url: '@Url.Action("CollectionPickingList", "Deliveries")',
             dataType: 'html',
             data: {
                 sEnd: $("#Date").val(),
                 sStart: $("#DateCreated").val(),
                 ItemCode: '',
                 iDisplayStart: thispage,
                 iDisplayLength: $("#SizeR").val(),
                 sEcho: 1
             },
             success: function (resp) {
                 $('#panel').html(resp);
             },
             error: function (data) {
             }
         });
     }
</script>


<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Colection Picking List</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p></p>

            <table id="gradient-style" style="width:100%; border-style: none ">
                <tbody>
                    <tr>
                        <td style="border-style: none">
                            <div class="editor-field">
                                Show @Html.DropDownList("Size", new SelectList(new[] { "10", "20", "50", "100" }, @ViewData["listSize"].ToString()), new { id = "SizeR", @class = "form-control", style = "width:80%" })
                            </div>
                        </td>

                        <td style="border-style: none">
                            <div class="editor-field">
                                Start Date
                                <input type="text" class="form-control" name="DateCreated" id="DateCreated" value="@ViewData["sdate"]" style="width: 80%" />
                            </div>
                        </td>
                        <td style="border-style: none">
                            <div class="editor-field">
                                End Date
                                <input type="text" class="form-control" name="Date" id="Date" value="@ViewData["edate"]" style="width: 80%" />
                            </div>
                        </td>
                        <td style="border-style: none">
                            <div class="editor-field">
                                Search by Customer <input type="text" class="form-control" id="SearchInItems" style="width:100%" />

                            </div>
                        </td>
                        <td style="border-style: none">
                            <div class="editor-field">
                                <br />
                                <button class="btn btn-success " onclick="GetDeliverySammary()"><span></span>Go</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <table class="table table-striped" style="width:100%;">
                <tr>
                    <th style="width: 6%"></th>

                    <th>
                        @Html.DisplayName("Customer Name")
                    </th>
                    <th>
                        @Html.DisplayName("Region")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Receipt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Invoice)
                    </th>
                    <th>
                        @Html.DisplayName("Puchase Date")
                    </th>
                    <th>
                        @Html.DisplayName("Collection Date")
                    </th>
                    <th>
                        @Html.DisplayName("Collection Address")
                    </th>


                </tr>


                @foreach (var item in Model)
                {
                    var newrId = "";
                    var newVId = "";
                    if (item.Receipt != null)
                    {
                        char[] delimiter = new char[] { '.' };
                        string[] partz = item.Receipt.Split(delimiter, StringSplitOptions.RemoveEmptyEntries);
                        if (partz.Length > 1)
                        {
                            newrId = partz[0] + partz[1] + partz[2].Trim();
                        }else
                        {
                            newrId = partz[0];
                        }
                    }
                    string rid = newrId + "_b";
                    string ridx = newrId + "_x";

                    if (item.Invoice != null)
                    {
                        char[] delimita = new char[] { '.' };
                        string[] part = item.Invoice.Split(delimita, StringSplitOptions.RemoveEmptyEntries);
                        if (part.Length > 1)
                        {
                            newVId = part[0] + part[1] + part[2].Trim();
                        }else
                        {
                            newVId = part[0];
                        }
                    }
                    string vidx = newVId + "_x";
                    string vid = newVId + "_b";



                    if (item.DeliveryType.Trim() != "Sms")
                    {
                        <tr>
                            @if (item.Receipt != null && item.Receipt != "")
                            {
                                <td style="width: 6%">
                                    <a id="@ridx" class="btn-mini btn-navy  btn-arrow-down " onclick="GetSalesHamper('@item.Receipt','@newrId')"><span></span>Details</a>
                                    <a id="@rid" class="btn-mini btn-orange  btn-arrow-up" onclick="MinSalesDetail('@item.Receipt','@newrId')" style="display:none"><span></span>Details</a>
                                </td>
                            }
                            else
                            {
                                <td style="width: 6%">
                                    <a id="@vidx" class="btn-mini btn-navy  btn-arrow-down" onclick="GetSalesHamper('@item.Invoice','@newVId')"><span></span>Details</a>
                                    <a id="@vid" class="btn-mini btn-orange  btn-arrow-up" onclick="MinSalesDetail('@item.Invoice','@newVId')" style="display:none"><span></span>Details</a>
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Region)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receipt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Invoice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DeadLine)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                        </tr>
                        if (item.Receipt != null && item.Receipt != "")
                        {
                            <tr><td colspan="11" id="@newrId" style="display:none "></td></tr>
                        }
                        else
                        {
                            <tr><td colspan="11" id="@newVId" style="display:none "></td></tr>
                        }
                    }
                }
                <tr>
                    <th colspan="12" style=" background-color: #E2E4FF; ">
                        <div onclick="GetPageR()" style=" float: left; padding-left: 10px"> Pages</div>
                        @for (int i = 1; i <= int.Parse(@ViewData["Pages"].ToString()); i++)
                        {
                            if (i == int.Parse(@ViewData["ThisPage"].ToString()))
                            {
                                <div onclick="GetPageR(@i)" style=" float: left; padding-left: 4px; padding-right: 4px; border-style: solid; border-width:1px; margin-left:2px; border-color: Orange; color: Orange;">@i</div>
                            }
                            else
                            {
                                <div onclick="GetPageR(@i)" style=" float: left; padding-left: 4px; padding-right: 4px; border-style: solid; border-width:1px; margin-left:2px; border-color: Black ">@i</div>
                            }
                        }
                        <div style=" float: left; padding-left: 10px"> @ViewData["RecordData"]</div>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>