@model IEnumerable<RetailKing.Models.City>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cities</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <p>
                        
                        <a onclick="GetView('@Url.Action("Create", "Cities")')" class="btn btn-success"> Create</a>
                    </p> 
                    <table>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
