@model RetailKing.Models.Advert

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Advert Placements</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <p></p>

                    @using (Html.BeginForm("AdSpaceAllocations", "Adverts", FormMethod.Post, new { id = "createSuppliers" }))
                    {
                        @Html.Hidden("Contacts")
                        @Html.HiddenFor(model => model.Placements)
                        @Html.HiddenFor(model => model.Id)
                    }
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th>
                                       
                                                <input id="check-all" type="checkbox" class="flat" >
                                          
                                    </th>
                                    <th></th>
                                    <th>Country</th>
                                    <th>Name</th>
                                    <th>Url</th>
                                    <th>Size</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Spaces)
                                {
                                    <tr>
                                        <td>
                                            @if (item.State == "checked")
                                            {
                                               <input id="@item.Id" type="checkbox" checked class="flat" onchange="toggleCheckbox(this)" name="table_records">
                                            }
                                            else
                                            {
                                                <input id="@item.Id" type="checkbox" class="flat" onchange="toggleCheckbox(this)" name="table_records">
                                            }
                                        </td>
                                        <td id="mail_@item.Id">@item.Id</td>
                                        <td>
                                            @item.Country
                                        </td>
                                        <td id="name_@item.Id">
                                            @item.LocationName.Trim()
                                        </td>
                                        <td >
                                            @item.LocationUrl.Trim()
                                        </td>
                                        <td >
                                            @item.LocationSize.Trim()
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-success" onclick="SaveView('createSuppliers')">Save</button>
                            <button class="btn btn-warning" onclick="GetView('@Url.Action("Index", "Adverts")')">Cancel</button>
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">
                            var dd;
                            function toggleCheckbox(element) {
                                if (element.checked) {
                                    // $('#EmailList').text($('#EmailList').val() + "," + $("#name_" + element.id).html().trim());
                                    var txt = $('#Contacts').text();
                                    $('#Contacts').text(txt + "," + $("#mail_" + element.id).html().trim());
                                    dd = $('#Contacts').text();
                                    document.getElementById('Placements').value = dd;
                                    dd = "";
                                }
                                else {
                                    var rr = $("#mail_" + element.id).html().trim();
                                    rr = ',' + rr;
                                    dd = $('#Contacts').text();
                                    var neu = dd.replace(rr, '');
                                    $('#Contacts').text(neu);
                                    dd = neu
                                    document.getElementById('Placements').value = neu;
                                    rr = "";
                                    neu = "";
                                }
                            }
    </script>

