@model IEnumerable<RetailKing.Models.Expens>

@{
    ViewBag.Title = "Index";
    int cnt = 0;
}
<script type="text/javascript">
     $(document).ready(function (event) {
         $("#SearchInItems").focus();
         var typinTimer;
         $("#category").change(function (event) {
             event.preventDefault();
             $.ajax({
                 type: "Post",
                 url: '@Url.Action("listExpenses", "Accounts")',
                 dataType: 'html',
                 data: {
                     company: $("#activeco").text(),
                     category: $("#category").val(),
                     ItemCode: "",
                     iDisplayLength: $("#SizeR").val(),
                     sEcho: 1
                 },
                 success: function (resp) {
                     $("#panel").html(resp);
                 },
                 error: function (data) {
                     alert(data);
                 }
             });
         });

         $("#SubCategory").change(function (event) {
             event.preventDefault();
             $.ajax({
                 type: "Post",
                 url: '@Url.Action("listExpenses", "Accounts")',
                 dataType: 'html',
                 data: {
                     SubCategory: $("#SubCategory").val(),
                     ItemCode: "",
                     iDisplayLength: $("#SizeR").val(),
                     sEcho: 1
                 },
                 success: function (resp) {
                     $("#panel").html(resp);
                 },
                 error: function (data) {
                     alert(data);
                 }
             });
         });

         $("#SizeR").change(function (event) {
             event.preventDefault();
             $.ajax({
                 type: "Post",
                 url: '@Url.Action("listExpenses", "Accounts")',
                 dataType: 'html',
                 data: {
                     company: $("#activeco").text(),
                     category: $("#category").val(),
                     ItemCode: '',
                     iDisplayLength: $("#SizeR").val(),
                     sEcho: 1
                 },
                 success: function (resp) {
                     $('#panel').html(resp);
                 },
                 error: function (data) {
                 }
             });
         });

         $("#SearchInItems").keyup(function () {
             // event.preventDefault();
             var s = $('#SearchInItems').val();
            // alert(s);
             clearTimeout(typinTimer);
             typinTimer = setTimeout(function () {
                // alert($('#SearchInItems').val() );
                 if ($('#SearchInItems').val() == s && $('#SearchInItems').val() != "") {
                     $.ajax({
                         type: "Post",
                         url: '@Url.Action("listExpenses", "Accounts")',
                         dataType: 'html',
                         data: {
                             company: $("#activeco").text(),
                             category: $("#category").val(),
                             ItemCode: $("#SearchInItems").val(),
                             iDisplayLength: $("#SizeR").val(),
                             sEcho: 1
                         },
                         success: function (resp) {
                             $('#panel').html(resp);
                         },
                         error: function (data) {
                         }
                     });
                 }
            }, 2000);
         });

         $("#tableData input").keypress( function (e) {
             if (e.keyCode == 13) {

                 if (this.value == '') {
                     alert($("#" + this.id).val());
                 }
                 else {
                     if (isNaN(this.value / 1) == false) {
                         var dd = this.id;
                         $.ajax({
                             type: "Post",
                             url: '@Url.Action("newStock", "Accounts")',
                             dataType: 'html',
                             data: {
                                 company: $("#activeco").text(),
                                 Qty: this.value,
                                 ItemCode: this.id
                             },
                             success: function (resp) {
                                 var jsonItem = $.parseJSON(resp);
                               //  alert($('#' + dd).val());
                                 $('.' + dd).html(jsonItem.NewStock);
                                 $('#balance_' + dd).html(jsonItem.Balance);
                                 $('#' + dd).val('');
                             },
                             error: function (data) {
                             }
                         });
                     }
                     else {
                         alert("Please enter number only");
                     }
                 }
             }
         });

     });
</script>

<script type="text/javascript">
     function GetPageR(thispage) {
         $.ajax({
             type: "Post",
             url: '@Url.Action("listExpenses", "Accounts")',
             dataType: 'html',
             data: {
                 company: $("#activeco").text(),
                 category: $("#category").val(),
                 ItemCode: '',
                 iDisplayStart: thispage,
                 iDisplayLength: $("#SizeR").val(),
                 sEcho: 1
             },
             success: function (resp) {
                 $('#panel').html(resp);
             },
             error: function (data) {
             }
         });
     }
</script>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Receipts</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>

                <table id="gradient-style" class="table" style="width:100%; ">
                    <tbody>
                        <tr>
                            <td style="border-style: none">
                                <div class="editor-field">
                                    Show @Html.DropDownList("Size", new SelectList(new[] { "10", "20", "50", "100" }, @ViewData["listSize"].ToString()), new { id = "SizeR", @class = "form-control" })
                                </div>
                            </td>


                            <td style="border-style: none">
                                <div class="editor-field">
                                    Search by ItemCode <input type="text" class="form-control" id="SearchInItems" />
                                </div>
                            </td>
                            <td style="border-style: none">
                                <div class="editor-field">
                                    <br />
                                    <button class="btn-icon btn-success btn-person" onclick="GetSalesProduct()"><span></span>Go</button>
                                    <button class="btn btn-success " style="float: right" onclick="GetView('@Url.Action("Receipts", "Accounts")')">Create New </button>
                            
                             </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="datatable-buttons" class="table table-striped" style="width:100%">
                    <thead>

                        <tr>

                            <th>
                                Customer Name
                            </th>
                            <th>
                                Receipt
                            </th>
                            <th>
                                Credit
                            </th>
                            <th>
                                Amount Paid
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Date
                            </th>
                            

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.AccountName
                                </td>
                                <td>
                                    @item.Receipt
                                </td>
                                <td>
                                    @item.value
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Dated
                                </td>
                                
                            </tr>

                        }
                    </tbody>
                    <tr>
                        <th colspan="12" style="background-color: #E2E4FF; ">
                            <div onclick="GetPageR()" style="float: left; padding-left: 10px"> Pages</div>
                            @for (int i = 1; i <= int.Parse(@ViewData["Pages"].ToString()); i++)
                            {
                                if (i == int.Parse(@ViewData["ThisPage"].ToString()))
                                {
                                    <div onclick="GetPageR(@i)" style="float: left; padding-left: 4px; padding-right: 4px; border-style: solid; border-width:1px; margin-left:2px; border-color: Orange; color: Orange; cursor:pointer">@i</div>
                                }
                                else
                                {
                                    <div onclick="GetPageR(@i)" style="float: left; padding-left: 4px; padding-right: 4px; border-style: solid; border-width:1px; margin-left:2px; border-color: Black;cursor:pointer ">@i</div>
                                }
                            }
                            <div style="float: left; padding-left: 10px"> @ViewData["RecordData"]</div>
                        </th>
                    </tr>

                </table>

            </div>
        </div>
</div>
</div>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.flash.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    order: [[1, "desc"]],
                    buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    },
                    {
                        extend: "csv",
                        className: "btn-sm"
                    },
                    {
                        extend: "excel",
                        className: "btn-sm"
                    },
                    {
                        extend: "print",
                        className: "btn-sm"
                    },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();

                }
            };
        }();

        TableManageButtons.init();
    });
</script>