@model RetailKing.ViewModels.HomeVM 
@{
    ViewBag.Title = "Mobistore";
    
}
 <script type="text/javascript">
     $(document).ready(function () {
         $.fancybox.close();
     })
   </script>
  <!-- top tiles -->

<!-- /top tiles -->
<div class="page-title">
    <div class="title_left">
        <h3>Dashboard</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
    <div >
       @{
           var g = (from e in Model.items
                     .Where(e => e.Balance <= e.Reorder)
                     .OrderBy(e => e.ItemName)
                    select e).Take(10).ToList();

           var t = (from e in Model.items
                    .OrderByDescending(e => e.sold)
                    select e).Take(10).ToList();
                    
         <div class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Stock Value</span>
                <div class="count">2500</div>
                <span class="count_bottom"><i class="green">4% </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-clock-o"></i> Monthly Target</span>
                <div class="count">
                    @if (@Model.activeco == null)
                    {
                        
                            @String.Format("{0:F}", 0)
                      
                    }
                    else
                    {
                       
                            @String.Format("{0:F}", @Model.activeco.monthlyTarget)
                    
                    }
                </div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Off Target </span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Today's Target</span>
                <div class="count green">
                @if (@Model.activeco == null)
                {
                        @String.Format("{0:F}", 0)
                }
                else
                {
                        @String.Format("{0:F}", @Model.activeco.dailyTarget)
                }
                </div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> Off Target </span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Last Week's Sales</span>
                <div class="count">4,567</div>
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Yesterday's Sales</span>
                <div class="count">
                @if (@Model.dailysales == null)
                {
                    
                        @String.Format("{0:F}", 0)
                  
                }
                else
                {
                    
                        @String.Format("{0:F}", @Model.dailysales.Sales)
                 
                }</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Today's Sales</span>
                <div class="count">
                @if (@ViewData["Nhasi"] == null)
                {

                    @String.Format("{0:F}", 0)

                }
                else
                {
                    @String.Format("{0:F}", @ViewData["Nhasi"])
                }</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> Off Target </span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Stock Levels </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>These Items need reordering</h4>
                    <div id="gradient-styl" style="width:100%; border-style: none; padding-bottom: 10px ">
                        <div  style=" float:left;padding-bottom:5px; padding-right :30px">
                            Show @Html.DropDownList("Size", new SelectList(new[] { "10", "20", "50", "100" }, @ViewData["listSize"].ToString()), new { id = "SizeO" })
                        </div>
                        <div>
                            Search by Product <input type="text" id="SearchInLocation" />
                        </div>
                    </div> 
                    @if (g.Count() == 0)
                    {
                        <div><h2> Your inventory is well stocked</h2></div>
                    }
                    else
                    {
                        <table class="table table-striped" style="width:100%">
                            <tr>

                                <th>
                                    Product
                                </th>
                                <th>
                                    Item Code
                                </th>
                                <th>
                                    Opening Balance
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    sold
                                </th>
                                <th>
                                    transfer
                                </th>
                                <th>
                                    Balance
                                </th>
                            </tr>

                            @foreach (var item in g)
                            {
                                
                                    <tr>
                                        <td>
                                            @item.ItemName
                                        </td>
                                        <td>
                                            @item.ItemCode
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @String.Format("{0:F}", item.SellingPrice)
                                        </td>
                                        <td>
                                            @item.sold
                                        </td>
                                        <td>
                                            @item.transfer
                                        </td>
                                        <td>
                                            @item.Balance
                                        </td>

                                    </tr>
                               
                            }

                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Top Sellers</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (g.Count() == 0)
                    {
                        <div><h2> There are no sales Yet</h2></div>
                    }
                    else
                    {
                        <table class="table table-striped" style="width:100%">
                            <tr>
                                <th>
                                    Product
                                </th>

                                <th>
                                    Price
                                </th>
                                <th>
                                    sold
                                </th>

                                <th>
                                    Balance
                                </th>
                            </tr>

                            @foreach (var item in t)
                            {

                                <tr>

                                    <td>
                                        @item.ItemName
                                    </td>

                                    <td>
                                        @String.Format("{0:F}", item.SellingPrice)
                                    </td>
                                    <td>
                                        @String.Format("{0:F}", item.sold)
                                    </td>

                                    <td>
                                        @String.Format("{0:F}", item.Balance)
                                    </td>

                                </tr>
                            }

                        </table>
                    }
                </div>
            </div>
        </div>

    </div>
           
     
            
   }   
        </div> 







 


