@model RetailKing.Models.Item

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"></script>

<script type="text/javascript">
        $(function () {
            var status = $('#ajaxStatuss');
            var percent = $('.percent');
            var bar = $('.bar');
            var options = {
                beforeSend: function () {
                    $(".alert-danger").hide();
                    $("input[type='submit']")
                    .val("Please Wait...")
                    .attr('disabled', 'disabled');

                    status.fadeIn();
                    $.fancybox.showLoading();
                    percent.html('0%');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var pVel = percentComplete + '%';
                    if (percentComplete == 100) {
                        pVel = "Processing file on server might take a few minuites"
                    }
                    percent.html(pVel);

                },
                success: function (result) {
                    $.fancybox.hideLoading();
                    var res = result.split(':');
                    if (res[0] == "Stock") {
                        $(".alert-danger").html(res[1]);
                        $(".alert-danger").show();
                        $("input[type='submit']")
                        .val("Save")
                        .attr('disabled', 'Enabled');
                    } else {
                        $("#panel").html(result);
                        $("input[type='submit']")
                       .attr('disabled', 'Enabled');
                    }

                },

                error: function (xhr, textStatus, errorThrown) {
                    $('#fileresp').html(errorThrown);
                    $('#fileresp').show();
                    status.fadeOut(800);
                }

            };
            $("#Profilep").ajaxForm(options);

        });
    </script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manufacturing New Inventory</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    
                    @using (Html.BeginForm("Manufacture", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @name = "ProfileP", id = "Profilep" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <h2>@Html.DisplayFor(model => model.ItemName)</h2>
                            @Html.HiddenFor(model => model.ItemCode )
                            @Html.HiddenFor(model => model.company)
                            @Html.HiddenFor(model => model.SellingPrice)
                            <div class="editor-label">
                                @Html.Label("Enter Quantity")
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control",type= "number"})
                                @Html.ValidationMessageFor(model => model.Quantity)
                            </div>
                            <p></p>
                            <div class="alert alert-danger alert-dismissible fade in" style="display:none" role="alert">

                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input class="btn btn-success"  value="Save"type="submit"/>
                                    <button class="btn btn-warning"type="button" onclick="GetView('@Url.Action("ManufacturedProducts", "Items")');CloseCancel()">Cancel</button>
                                </div>
                            </div> 
                        </fieldset>
                    }
                    <div>
                        <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                        <div id="Images"></div>

                    </div>
                </div>
            </div>
          </div>
        </div> 
    </div> 
