@model RetailKing.Models.Customer

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.AccountCode)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.AccountCode, new { disabled="disabled",@class = "form-control" })
    @Html.HiddenFor(model => model.AccountCode)
    @Html.ValidationMessageFor(model => model.AccountCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CustomerName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CustomerName, "", new { style ="color:red"})
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ContactPerson)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ContactPerson)
</div>

<div class="editor-label">
    @Html.Label("Phone Number")
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Phone1)
</div>

<div class="editor-label">
    @Html.Label("Email Address")
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.Label("ID Number")
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Phone2, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Phone2)
</div>
<div class="editor-label">
    @Html.Label("Address 1")
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Address1)
</div>

<div class="editor-label">
    @Html.Label("Address 2")
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Address2)
</div>



