@model RetailKing.Models.custSt
@{
    ViewBag.Title = "CashPosition";
}


<link href="@Url.Content("~/Content/Administration/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Administration/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Administration/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/Administration/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css")" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            
                    <div class="x_title">

                        <h2>Customer Statement</h2>

                        <div class="clearfix"></div>
                    </div>
                    <h3>@Model.cust.CustomerName</h3>
                
            <div class="x_content">
                <div class="row">
                    <p></p>
                    <table id="gradient-style" style="width:100%; border-style: none ">
                        <tbody>
                            <tr>
                                <td class="style3" style="border-style: none">
                                    <div class="editor-field">
                                    </div>
                                </td>
                                <td class="style4" style="border-style: none"></td>
                                <td class="style4" style="border-style: none"></td>
                                <td style="border-style: none">
                                    <div class="editor-field" style="float:right ">

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="tableData">
                        <table id="datatable-buttons" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Receipt Number
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Balance
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @{


                                    foreach (var item in Model.Expenses)
                                    {
                                        <tr>


                                            <td>
                                                @item.Receipt
                                            </td>
                                            <td>
                                                @item.Dated
                                            </td>
                                            <td>
                                                @String.Format("{0:C}", @item.Amount)
                                            </td>
                                            <td></td>



                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            @String.Format("{0:C}", @Model.cust.Balance)
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</div> 



<script src="@Url.Content("~/Content/Administration/vendors/datatables.net/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.flash.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-buttons/js/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
<script src="@Url.Content("~/Content/Administration/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>


<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    order: [[1, "desc"]],
                    buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    },
                    {
                        extend: "csv",
                        className: "btn-sm"
                    },
                    {
                        extend: "excel",
                        className: "btn-sm"
                    },
                    {
                        extend: "print",
                        className: "btn-sm"
                    },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        TableManageButtons.init();
    });
</script>